<!DOCTYPE html>
<html>

    <head>
        <title>Sessions</title>

        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <style>

            /* .top-menu{
                padding-top: 10px;
            } */

            .top-menu{
                padding-left: 15px;
                padding-right: 40px;
            }

            .top-menu-logo{
                font-size: 26px !important;
                padding-top: 15px !important;
            }

            .ui.menu .active.item{
                font-weight: bold;
                text-decoration: underline;
                background: none !important;
            }
            
            .top-menu .item{
                font-size: 15px;
                /* padding-top: 10px; */
            }
            
            .trash_span:hover{
                cursor: pointer;
            }

            #window_right_arrow_span{
                font-size: 16px;
            }

            .window_left_arrow:hover{
                cursor: pointer;
                color: lightblue;
            }

            .window_right_arrow:hover{
                cursor: pointer;
                color: lightblue;
            }

            /* .flex-container {
                display: flex;
                justify-content: center;
                flex-grow: 1;
            } */

        </style>

    </head>


<body>

    <div class="ui secondary menu top-menu">
        
        <div class="item top-menu-logo">
            Sessions
        </div >

        <!-- <div class="flex-container"> -->
            
            <a class="active item">
                active
            </a>
            <a class="item">
                saved
            </a>
            <a class="item">
                about
            </a>
            <a class="item">
                github
            </a>

        <!-- </div> -->

        <div class="right menu">
            <a class="ui item">
                logout
            </a>
        </div>

    </div>


    <div class="ui grid container" style="margin-top: 2%;">

        <div class="four wide column"></div>

        <div class="eight wide column">

            <div id="active_card_parent_div">

                {% for wdi in value['final_window_tab_list'] %}

                    <div id="window_{{ wdi['window_object_id'] }}" style="display: none;">

                        <div class="ui header" style="font-size: 20px;">
                            {{ wdi['window_title'] }}
                            &nbsp;
    
                            <span id="window_right_arrow_span">
                                <i class="arrow left icon window_left_arrow"></i>
                                <i class="arrow right icon window_right_arrow"></i>
                                <span style="color: gray; font-size: 13px;">({{ wdi['current_count'] }} / {{ value['final_window_tab_list']|length }})</span>
                            </span>
    
                            <div style="float: right;">
                                <button class="ui small black button" id="refresh_active_sessions" onclick="refreshSession()">Refresh</button>
                            </div>
    
                        </div>

                        <div class="ui card" style="width: 100%; margin-top: 6.5%;">
                
                            <div class="content">
                                <h2 class="ui sub header" style="font-size: 16px;">
                                    Tabs
                                    <a class="ui blue label" style="float: right;">active window</a>
                                </h2>
                            </div>
            
                            <div class="content">
            
                                <div class="ui small feed" >

                                    {% for tdi in wdi['tabs'] %}
            
                                        <div class="event" style="padding-top: 8px; padding-bottom: 8px;">
                                            <div class="content">
                                                <div class="summary">
                                                    <img src="{{ tdi['favicon_url'] }}" style="width: 15px; height: 15px; margin-right: 5px;">
                                                    <a href="{{ tdi['url'] }}" style="font-size: 15px;" target="_blank" rel="noopener noreferrer">
                                                        {{ tdi['title'] }}
                                                    </a>                                    
                                                    <span class="trash_span" style="float: right; font-size: 15px; color: red;">
                                                        <i class="trash alternate outline icon"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
            
                                        <div style="border-bottom: 0.5px solid lightgrey;"></div>
            
                                    {% endfor %}
            
                                </div>
            
                            </div>
            
                        </div>

                    </div>

                {% endfor %}

            </div>

        </div>

        <div class="four wide column"></div>

    </div>


    <script>

        // $('.shape').shape();

        // $('#window_right_arrow').click(function(){

        //     $('.shape').shape('flip right');

        // });

        // function refreshSession(){

        //     var data = { type: "refresh_session" };
        //     window.postMessage(data, "*");

        // }


        // TODO:
            // get all the windows to show
            // finalize UI for active windows along with functionality (refresh + tab delete + window opening)
            // go from there...

        let final_window_id_list = {{ value['final_window_id_list']|safe }};

        console.log('final_window_id_list', final_window_id_list)

        let current_window_id;
        let url = new URL(location.href);
        let c = url.searchParams.get("c");

        if (c == null){

            c = 0;
            current_window_id = final_window_id_list[c];

            $('.window_left_arrow').hide();

        } else {

            if (c <= final_window_id_list.length-1 && c > 0){

                current_window_id = final_window_id_list[c];
                $('.window_left_arrow').show();

            } else {
                // const params = new URLSearchParams(url.search);
                // params.delete("c");

                current_window_id = final_window_id_list[0];
                window.history.replaceState(null, '', window.location.pathname);
                $('.window_left_arrow').hide();
            }

        }
        
        $('#' + current_window_id).show();
        // console.log('current_window_id', current_window_id)

        $('.window_right_arrow').click(function(){

            console.log('current_window_id-old', current_window_id, c)

            let possible_new_id = c + 1;

            if (possible_new_id > 0 && possible_new_id <= final_window_id_list.length-1){
                
                c = c + 1;
                current_window_id = final_window_id_list[c];
                $('.window_left_arrow').show();

            } else {

                c = 0;
                current_window_id = final_window_id_list[c];
                $('.window_left_arrow').hide();

            }

            if (c == final_window_id_list.length-1){

                $('.window_right_arrow').hide();

            } else {
                $('.window_right_arrow').show();
            }

            console.log('current_window_id', current_window_id, c)
            // $('#' + current_window_id).show();

            for (i = 0; i < final_window_id_list.length; i++){

                $('#' + final_window_id_list[i]).hide();

            }

            $('#' + current_window_id).show();

        });


        $('.window_left_arrow').click(function(){

            console.log('current_window_id-old', current_window_id, c)

            let possible_new_id = c - 1;

            if (possible_new_id > 0 && possible_new_id <= final_window_id_list.length-1){
                
                c = c - 1;
                current_window_id = final_window_id_list[c];
                $('.window_left_arrow').show();
                $('.window_right_arrow').show();

            } else {

                c = 0;
                current_window_id = final_window_id_list[c];
                $('.window_left_arrow').hide();
                $('.window_right_arrow').show();

            }

            console.log('current_window_id', current_window_id, c)
            // $('#' + current_window_id).show();

            for (i = 0; i < final_window_id_list.length; i++){

                $('#' + final_window_id_list[i]).hide();

            }

            $('#' + current_window_id).show();

        });

    </script>

</body>

</html>
