{% extends 'base.html' %}

{% block content %}

    <div class="ui grid container" >
        
        <div class="three wide column"></div>
    
        <div class="ten wide column">

            <div class="ui text menu window-text-menu">
                <a class="active item" id="current_window_item">
                    <i class="window restore icon"></i>
                    Current Windows
                </a>
                &nbsp;&nbsp;&nbsp;
                <a class="item" id="saved_session_item">
                    <i class="window restore icon"></i>
                    Saved Sessions
                </a>
            </div>

            <!-- Current Windows -->
            <div class="current_windows_parent_div">

                {% for wdi in value['final_window_tab_list'] %}

                    <div id="window_{{ wdi['window_object_id'] }}" class="primary-card-div" style="display: none;">

                        <!-- <div class="ui header primary-card-button-div">

                            <div>
                                <button class="ui small button" id="{{ wdi['window']['google_id'] }}" onclick="removeWindow(this.id)"><i class="close icon"></i>Close Window</button>
                                &nbsp;
                                <button class="ui small button" id="refresh_active_sessions" onclick="refreshSession()"><i class="sync icon"></i>Refresh Tabs</button>
                            </div>
    
                        </div> -->

                        <div class="ui header" style="font-size: 20px;">
                            {{ wdi['window_title'] }}
                            &nbsp;

                            <span id="window_right_arrow_span">
                                <i class="arrow left icon window_left_arrow"></i>
                                <!-- &nbsp; -->
                                <i class="arrow right icon window_right_arrow"></i>
                                <span style="color: gray; font-size: 13px;">({{ wdi['current_count'] }} / {{ value['final_window_tab_list']|length }})</span>
                            </span>
                            
                            <div style="float: right;">
                                <button class="ui medium black button" id="open_session" onclick="">Open</button>
                                &nbsp;
                                <button class="ui medium button" onclick="">Update</button>
                                &nbsp;
                                <button class="ui medium button" onclick="">Delete</button>
                            </div>

                        </div>


                        <div class="ui card window-card" style="width: 100%; margin-top: 6.5%;">
                
                            <div class="content">
                                <h2 class="ui sub header" style="font-size: 16px;">
                                    Tabs ({{ wdi['tabs']|length }})                                    
                                    {% if wdi['window']['focused'] %}
                                        <a class="ui blue label" style="float: right;">active</a>
                                    {% else %}
                                        <a class="ui blue label" style="float: right;">{{ wdi['window']['state'] }}</a>
                                    {% endif %}
                                </h2>
                            </div>
            
                            <div class="content">
            
                                <div class="ui small feed" >

                                    {% for tdi in wdi['tabs'] %}
            
                                        <div class="event" style="padding-top: 8px; padding-bottom: 8px;">
                                            <div class="content">
                                                <div class="summary">
                                                    <img src="{{ tdi['favicon_url'] }}" style="width: 15px; height: 15px; margin-right: 5px;">
                                                    <a href="{{ tdi['url'] }}" style="font-size: 15px;" target="_blank" rel="noopener noreferrer">
                                                        {{ tdi['title'] }}
                                                    </a>
                                                    <span class="trash_span" style="float: right; font-size: 15px; color: red;" id="{{ tdi['google_id'] }}" onclick="deleteTab(this.id)">
                                                        <i class="trash alternate outline icon"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
            
                                        <div style="border-bottom: 0.5px solid lightgrey;"></div>
            
                                    {% endfor %}
            
                                </div>
            
                            </div>

                            <!-- <div class="actions" style="padding-bottom: 10px;">
                                <div class="ui right floated approve button">Approve</div>
                                <div class="ui right floated button">Neutral</div>
                                <div class="ui right floated cancel button">Cancel</div>
                            </div> -->
            
                        </div>

                    </div>

                {% endfor %}

            </div>

            <!-- Saved Sessions -->
            <div class="saved_sessions_parent_div" style="display: none;">

                {% for session_dict in value['final_sessions_list'] %}

                    <div id="session_{{ session_dict['session_object_id'] }}" style="display: none;">

                        <div class="ui header" style="font-size: 20px;">
                            {{ session_dict['session']['session_name'] }}
                            &nbsp;

                            <span id="window_right_arrow_span">
                                <i class="arrow left icon session_left_arrow"></i>
                                <!-- &nbsp; -->
                                <i class="arrow right icon session_right_arrow"></i>
                                <span style="color: gray; font-size: 13px;">({{ session_dict['current_count'] }} / {{ value['final_sessions_list']|length }})</span>
                            </span>
                            
                            <div style="float: right;">
                                <button class="ui medium black button" id="open_session" onclick="">Open</button>
                                &nbsp;
                                <button class="ui medium button" onclick="">Update</button>
                                &nbsp;
                                <button class="ui medium button" onclick="">Delete</button>
                            </div>

                        </div>

                        <div class="ui card" style="width: 100%; margin-top: 6.5%;">
                
                            <div class="content">
                                <h2 class="ui sub header" style="font-size: 16px;">
                                    Tabs ({{ session_dict['tabs']|length }})
                                </h2>
                            </div>
            
                            <div class="content">
            
                                <div class="ui small feed" >

                                    {% for tdi in session_dict['tabs'] %}
            
                                        <div class="event" style="padding-top: 8px; padding-bottom: 8px;">
                                            <div class="content">
                                                <div class="summary">
                                                    <img src="{{ tdi['favicon_url'] }}" style="width: 15px; height: 15px; margin-right: 5px;">
                                                    <a href="{{ tdi['url'] }}" style="font-size: 15px;" target="_blank" rel="noopener noreferrer">
                                                        {{ tdi['title'] }}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
            
                                        <div style="border-bottom: 0.5px solid lightgrey;"></div>
            
                                    {% endfor %}
            
                                </div>
            
                            </div>
            
                        </div>

                    </div>

                {% endfor %}

            </div>


        </div>

        <div class="three wide column"></div>

    </div>


    <!-- Create Session Modal -->
    <div class="ui small modal create_session_modal">
        <div class="header">Create new session</div>
        <div class="content">
        
            <!-- <form class="ui form" > -->
            <div class="field" style="width: 40%;">
                <label>Session Name</label>
                <input type="text" id="session_name" name="session-name" placeholder="name your session..." style="margin-top: 5px;">
            </div>

            <br/>
            {% for wdi in value['final_window_tab_list'] %}

                <div class="primary_window_form_div">

                    <h4>
                        {{ wdi['window_title'] }}
                        &nbsp;
                        <span>
                            <div class="ui slider checkbox">
                                <input type="checkbox" class="window_toggle">
                                <label>Select All</label>
                            </div>
                        </span>
                    </h4>
    
                    <div class="ui list">
                    {% for tdi in wdi['tabs'] %}
    
                        <div class="ui checkbox item">
                            <input type="checkbox" name="cb_tab_url" value="{{ tdi['url'] }}">
                            <label>
                                <a href="{{ tdi['url'] }}" style="font-size: 15px;" target="_blank" rel="noopener noreferrer">
                                    {{ tdi['title'] }}
                                </a>
                            </label>
                        </div>
    
                    {% endfor %}
                    </div>

                </div>
                <br/>

            {% endfor %}
            <!-- </form> -->

        </div>
        <div class="actions">
            <div id="create_session_form_button" class="ui black approve button">Submit</div>
            <div class="ui cancel button">Cancel</div>
        </div>
    </div>



    <script>

        let current_window_id;
        let current_session_id;
        let url_param_value;
        let showSession = false;
        let url = new URL(location.href);

        let final_sessions_id_list = {{ value['final_sessions_id_list']|safe }};
        let final_sessions_list = {{ value['final_sessions_list']|tojson }};

        let final_window_id_list = {{ value['final_window_id_list']|safe }};
        let final_window_tab_list = {{ value['final_window_tab_list']|tojson }};

        let tab_dict = {};
        for (i=0; i<=final_window_tab_list.length-1; i++){
            let wdict = final_window_tab_list[i];
            let window_tabs = wdict['tabs'];
            for (y=0; y<=window_tabs.length-1; y++){
                let w_tb_dict = window_tabs[y];
                let tb_url = w_tb_dict[3];
                let tb_title = w_tb_dict[2];
                let tb_favicon_url = w_tb_dict[4];
                tab_dict[tb_url] = {'url': tb_url, 'title': tb_title, 'favicon_url': tb_favicon_url}
            };
        };



        function updateView(showSession, val){

            // console.log(showSession, val)

            if (val == null){

                // val = 0;
                url_param_value = 0;

                if (showSession === true){

                    for (i=0; i<=final_sessions_id_list.length-1; i++){
                        $('#' + final_sessions_id_list[i]).hide();
                    };

                    current_session_id = final_sessions_id_list[url_param_value];
                    $('#' + current_session_id).show();

                } else {

                    for (i=0; i<=final_window_id_list.length-1; i++){
                        $('#' + final_window_id_list[i]).hide();
                    };

                    current_window_id = final_window_id_list[url_param_value];
                    $('#' + current_window_id).show();

                }

            } else {

                if (showSession === true){
                 
                    if ( val <= final_sessions_id_list.length-1 && val > 0){

                        for (i=0; i<=final_sessions_id_list.length-1; i++){
                            $('#' + final_sessions_id_list[i]).hide();
                        };

                        url_param_value = val;
                        current_session_id = final_sessions_id_list[val];
                        $('#' + current_session_id).show();

                    } else {

                        for (i=0; i<=final_sessions_id_list.length-1; i++){
                            $('#' + final_sessions_id_list[i]).hide();
                        };

                        val = 0;
                        url_param_value = val;
                        current_session_id = final_sessions_id_list[val];
                        $('#' + current_session_id).show();

                    }
                    
                } else {

                    if (val <= final_window_id_list.length-1 && val > 0){

                        for (i=0; i<=final_window_id_list.length-1; i++){
                            $('#' + final_window_id_list[i]).hide();
                        };

                        url_param_value = val;
                        current_window_id = final_window_id_list[val];
                        $('#' + current_window_id).show();

                    } else {

                        for (i=0; i<=final_window_id_list.length-1; i++){
                            $('#' + final_window_id_list[i]).hide();
                        };

                        val = 0;
                        url_param_value = val;
                        current_window_id = final_window_id_list[val];
                        window.history.replaceState(null, '', window.location.pathname);
                        // $('.window_left_arrow').hide();
                        $('#' + current_window_id).show();

                    }

                }
                
            }

        };

        if (showSession === true){
        
            url_param_value = url.searchParams.get("s");
            updateView(showSession, url_param_value);

        } else {

            url_param_value = url.searchParams.get("c");
            updateView(showSession, url_param_value);

        };


//         if (showSession === true){

// url_param_value = url.searchParams.get("s");

// } else {

// url_param_value = url.searchParams.get("c");

// }

// if (url_param_value == null){

// if (showSession === true){

//     url_param_value = 0;
//     current_session_id = final_sessions_id_list[url_param_value];
//     $('#' + current_session_id).show();

// } else {

//     url_param_value = 0;
//     current_window_id = final_window_id_list[url_param_value];
//     // $('.window_left_arrow').hide();
//     $('#' + current_window_id).show();

// }

// } 
        // else {

        //     if (c <= final_window_id_list.length-1 && c > 0){

        //         current_window_id = final_window_id_list[c];
        //         $('.window_left_arrow').show();

        //     } else {

        //         current_window_id = final_window_id_list[0];
        //         window.history.replaceState(null, '', window.location.pathname);
        //         $('.window_left_arrow').hide();

        //     }

        // }


        // if (c == null){

        //     c = 0;
        //     current_window_id = final_window_id_list[c];
        //     $('.window_left_arrow').hide();

        // } else {

        //     if (c <= final_window_id_list.length-1 && c > 0){

        //         current_window_id = final_window_id_list[c];
        //         $('.window_left_arrow').show();

        //     } else {
        //         current_window_id = final_window_id_list[0];
        //         window.history.replaceState(null, '', window.location.pathname);
        //         $('.window_left_arrow').hide();
        //     }

        // }
        
        // $('#' + current_window_id).show();


        // final_sessions_id_list = {{ value['final_sessions_id_list']|safe }};
        // final_sessions_list = {{ value['final_sessions_list']|safe }};
        
        
        // let current_session_id;

        $('#saved_session_item').click(function(){

            $('.saved_sessions_parent_div').show();
            $('.current_windows_parent_div').hide();

            $('#current_window_item').removeClass('active');
            $('#saved_session_item').addClass('active');

            showSession = true;
            updateView(showSession, 0);

        });

        $('#current_window_item').click(function(){

            $('.saved_sessions_parent_div').hide();
            $('.current_windows_parent_div').show();

            $('#current_window_item').addClass('active');
            $('#saved_session_item').removeClass('active');

            showSession = false;
            updateView(showSession, 0);

        });
        

        // $('#create_session_button').click(function(){

        //     $('.create_session_modal').modal('show');

        // });


        $('.window_left_arrow').click(function(){

            console.log('current_window_id-old', current_window_id, url_param_value)

            showSession = false;
            let possible_new_id = url_param_value - 1;
            updateView(showSession, possible_new_id);

        });

        $('.window_right_arrow').click(function(){

            console.log('current_window_id-old', current_window_id, url_param_value)

            showSession = false;
            let possible_new_id = url_param_value + 1;
            updateView(showSession, possible_new_id);

        });

        
        $('.session_left_arrow').click(function(){

            showSession = true;
            let possible_new_id = url_param_value - 1;
            updateView(showSession, possible_new_id);
        });

        $('.session_right_arrow').click(function(){

            showSession = true;
            let possible_new_id = url_param_value + 1;
            updateView(showSession, possible_new_id);
            
        });


    </script>

{% endblock %}

