{% extends 'base.html' %}

{% block content %}

    <div class="ui grid container" >
        
        <div class="three wide column"></div>
    
        <div class="ten wide column">

            <div class="ui text menu window-text-menu">
                <a class="active item">
                    <i class="window restore icon"></i>
                    Current Windows
                </a>
                &nbsp;&nbsp;&nbsp;
                <a class="item">
                    <i class="window restore icon"></i>
                    Saved Sessions
                </a>
            </div>

            <div class="active_card_parent_div">

                {% for wdi in value['final_window_tab_list'] %}

                    <div id="window_{{ wdi['window_object_id'] }}" class="primary-card-div">

                        <div class="ui header primary-card-button-div">

                            <div>
                                <button class="ui small button" id="{{ wdi['window']['google_id'] }}" onclick="removeWindow(this.id)"><i class="close icon"></i>Close Window</button>
                                &nbsp;
                                <button class="ui small button" id="refresh_active_sessions" onclick="refreshSession()"><i class="sync icon"></i>Refresh Tabs</button>
                                <!-- &nbsp;
                                <button class="ui small button" id="create_session_button">Create New Session</button> -->
                            </div>
    
                        </div>

                        <div class="ui card window-card" style="width: 100%; margin-top: 6.5%;">
                
                            <div class="content">
                                <h2 class="ui sub header" style="font-size: 16px;">
                                    Tabs ({{ wdi['tabs']|length }})                                    
                                    {% if wdi['window']['focused'] %}
                                        <a class="ui blue label" style="float: right;">active</a>
                                    {% else %}
                                        <a class="ui blue label" style="float: right;">{{ wdi['window']['state'] }}</a>
                                    {% endif %}
                                </h2>
                            </div>
            
                            <div class="content">
            
                                <div class="ui small feed" >

                                    {% for tdi in wdi['tabs'] %}
            
                                        <div class="event" style="padding-top: 8px; padding-bottom: 8px;">
                                            <div class="content">
                                                <div class="summary">
                                                    <img src="{{ tdi['favicon_url'] }}" style="width: 15px; height: 15px; margin-right: 5px;">
                                                    <a href="{{ tdi['url'] }}" style="font-size: 15px;" target="_blank" rel="noopener noreferrer">
                                                        {{ tdi['title'] }}
                                                    </a>
                                                    <span class="trash_span" style="float: right; font-size: 15px; color: red;" id="{{ tdi['google_id'] }}" onclick="deleteTab(this.id)">
                                                        <i class="trash alternate outline icon"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
            
                                        <div style="border-bottom: 0.5px solid lightgrey;"></div>
            
                                    {% endfor %}
            
                                </div>
            
                            </div>

                            <!-- <div class="actions" style="padding-bottom: 10px;">
                                <div class="ui right floated approve button">Approve</div>
                                <div class="ui right floated button">Neutral</div>
                                <div class="ui right floated cancel button">Cancel</div>
                            </div> -->
            
                        </div>

                    </div>

                {% endfor %}

            </div>

        </div>

        <div class="three wide column"></div>

    </div>

    <div class="ui small modal create_session_modal">
        <div class="header">Create new session</div>
        <div class="content">
        
            <!-- <form class="ui form" > -->
            <div class="field" style="width: 40%;">
                <label>Session Name</label>
                <input type="text" id="session_name" name="session-name" placeholder="name your session..." style="margin-top: 5px;">
            </div>

            <br/>
            {% for wdi in value['final_window_tab_list'] %}

                <div class="primary_window_form_div">

                    <h4>
                        {{ wdi['window_title'] }}
                        &nbsp;
                        <span>
                            <div class="ui slider checkbox">
                                <input type="checkbox" class="window_toggle">
                                <label>Select All</label>
                            </div>
                        </span>
                    </h4>
    
                <!-- TODO: continue with finalizing UI + functionality (together); go from there -->

                    <div class="ui list">
                    {% for tdi in wdi['tabs'] %}
    
                        <div class="ui checkbox item">
                            <input type="checkbox" name="cb_tab_url" value="{{ tdi['url'] }}">
                            <label>
                                <a href="{{ tdi['url'] }}" style="font-size: 15px;" target="_blank" rel="noopener noreferrer">
                                    {{ tdi['title'] }}
                                </a>
                            </label>
                        </div>
    
                    {% endfor %}
                    </div>

                </div>
                <br/>

            {% endfor %}
            <!-- </form> -->

        </div>
        <div class="actions">
            <div id="create_session_form_button" class="ui black approve button">Submit</div>
            <div class="ui cancel button">Cancel</div>
        </div>
    </div>

    <script>

        let final_window_id_list = {{ value['final_window_id_list']|safe }};
        let final_window_tab_list = {{ value['final_window_tab_list']|tojson }};

        let tab_dict = {};
        for (i=0; i<=final_window_tab_list.length-1; i++){
            let wdict = final_window_tab_list[i];
            let window_tabs = wdict['tabs'];
            for (y=0; y<=window_tabs.length-1; y++){
                let w_tb_dict = window_tabs[y];
                let tb_url = w_tb_dict[3];
                let tb_title = w_tb_dict[2];
                let tb_favicon_url = w_tb_dict[4];
                tab_dict[tb_url] = {'url': tb_url, 'title': tb_title, 'favicon_url': tb_favicon_url}
            };
        };

        let current_window_id;
        let url = new URL(location.href);
        let c = url.searchParams.get("c");

        if (c == null){

            c = 0;
            current_window_id = final_window_id_list[c];
            $('.window_left_arrow').hide();

        } else {

            if (c <= final_window_id_list.length-1 && c > 0){

                current_window_id = final_window_id_list[c];
                $('.window_left_arrow').show();

            } else {
                current_window_id = final_window_id_list[0];
                window.history.replaceState(null, '', window.location.pathname);
                $('.window_left_arrow').hide();
            }

        }
        
        $('#' + current_window_id).show();


        $('#create_session_button').click(function(){

            $('.create_session_modal').modal('show');

        });


    </script>

{% endblock %}

