<!DOCTYPE html>
<html>

  <head>
    <!-- TODO: fav-icon (same as CE) -->
    <title>Sessions</title>

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    

    <style>

      li{
        margin: 6px 0;
      }

      .trash:hover{
        cursor: pointer;
      }

      #button_div{
        padding-top: 10px;
        /* float: left; */
      }
      
      .ui .checkbox{
        display: none;
      }


    </style>
    

  </head>

  <body>

    <div class="ui grid container" style="padding-top: 25px">

      <div class="eight wide column">
        <h2 style="display: inline;">Windows</h2>
        <span style="padding-left: 10px; font-size: 16px; font-weight: 700; "> (last updated: {{ last_refreshed_timestamp }} minute(s) ago... )</span>
        
        <div id="button_div">
          <button class="ui button" id="refresh_active_sessions" onclick="refreshSession()">Refresh</button>
          <button class="ui button" id="create_session_button" onclick="showSessionForm()">Create Session</button>
        </div>

        <p id="error_message" style="color: red; padding-top: 10px; display: none;">use a unique session name...</p>

        <br/>

        <form id="session_form" class="ui form" style="display: none;" >

          <div class="inline fields">
            <div class="six wide field" >
              <input id="session_name" type="text" name="session_name" placeholder="Session Name">
            </div>
            <button class="ui primary button" type="submit">Submit</button>

          </div>

        </form>


        <div>

          <h3 id="focused_window_header">
            Focused Window:
            <div class="ui checkbox" style="padding-left: 5px">
              <input class="select-all-cb" name="window_{{ focused_window_id }}" type="checkbox" value="{{ focused_window_id }}">
              <label>(select all)</label>
            </div>
          </h3>

          <ul>
            {% for di in focused_tabs_list %}
              <li>
                <a href="{{ di['url'] }}">
                  {{ di['title'] }} 
                </a>
                &nbsp;&nbsp;&nbsp;
                <i id="{{ di['tab_id'] }}" class="trash alternate outline icon" onclick="deleteTab(this.id)"></i>
                <div class="ui checkbox" style="padding-left: 5px">
                  <input name="tab_{{ di['tab_id'] }}" type="checkbox" value="{{ di['tab_id'] }}">
                  <input name="window_id" type="hidden" value="{{ focused_window_id }}">
                  <label></label>
                </div>
              </li>
            {% endfor %}
          </ul>

        </div>


        <div>

          <h3>Open Windows: ( {{ active_windows_dict|length }} ) </h3>
          {% for window_id in active_windows_dict %} 
          
            <div>

              <h4>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Window {{ window_id }}
                &nbsp;
                <div class="ui checkbox" style="padding-left: 5px">
                  <input class="select-all-cb" name="window_{{ window_id }}" type="checkbox" value="{{ window_id }}">
                  <label>(save all)</label>
                </div>
                <!-- <input type="checkbox" id="window_id_{{ window_id }}" name="window_{{ window_id }}" value="{{ window_id }}"> -->
              </h4> 
    
              <ul>
                {% for di in active_windows_dict[window_id] %}
                  <li>
                    <!-- <img src="{{ di['fav_url'] }}"> -->
                    <a href="{{ di['url'] }}">
                      {{ di['title'] }} 
                    </a>
                    &nbsp;&nbsp;&nbsp;
                    <i id="{{ di['tab_id'] }}" class="trash alternate outline icon" onclick="deleteTab(this.id)"></i>
                    <!-- <button id="{{ di['tab_id'] }}" onclick="deleteTab(this.id)">Delete Tab</button> -->    
                    <div class="ui checkbox" style="padding-left: 5px">
                      <input name="tab_{{ di['tab_id'] }}" type="checkbox" value="{{ di['tab_id'] }}">
                      <input name="window_id" type="hidden" value="{{ window_id }}">
                      <label></label>
                    </div>
                  </li>
                {% endfor %}
              </ul>

            </div>
        
        
          {% endfor %}

        </div>


        <div>

          <h3>Minimized Windows: ( {{ minimized_windows_dict|length }} ) </h3>
          {% for window_id in minimized_windows_dict %} 
  
            <div>
            
              <h4>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Window {{ window_id }}
                &nbsp;
                <div class="ui checkbox">
                  <input class="select-all-cb" name="window_{{ window_id }}" type="checkbox" value="{{ window_id }}">
                  <label>(save all)</label>
                </div>
                <!-- <input type="checkbox" id="window_id_{{ window_id }}" name="window_{{ window_id }}" value="{{ window_id }}"> -->
              </h4> 
    
              <ul>
                {% for di in minimized_windows_dict[window_id] %}
                  <li>
                    <!-- <img src="{{ di['fav_url'] }}"> -->
                    <a href="{{ di['url'] }}">
                      {{ di['title'] }} 
                    </a>
                    &nbsp;&nbsp;&nbsp;
                    <i id="{{ di['tab_id'] }}" class="trash alternate outline icon" onclick="deleteTab(this.id)"></i>
                    <!-- <button id="{{ di['tab_id'] }}" onclick="deleteTab(this.id)">Delete Tab</button> -->
                    <div class="ui checkbox" style="padding-left: 5px">
                      <input name="tab_{{ di['tab_id'] }}" type="checkbox" value="{{ di['tab_id'] }}">
                      <input name="window_id" type="hidden" value="{{ window_id }}">
                      <label></label>
                    </div>
                  </li>
                {% endfor %}
              </ul>
            
            </div>
        
          {% endfor %}

        </div>

   


      </div>

      <div class="eight wide column">
        <h2>Saved Sessions</h2>

        {% for session_title in sessions %}

          <div style="display: flex; padding-top: 10px;">
            <h3 id="session_title_header">
              {{ session_title }}
            </h3>
            <!-- <div id="session_name_input_update" class="ui input" style="display: none;">
              <input type="text" name="session_name" value="{{ session_title }}">
            </div> -->
            &nbsp;&nbsp;&nbsp;
            <div>
              <button id="submit_session_button" class="tiny ui blue button" style="display: none;">Save Changes</button>
              <button class="tiny ui button">Open Session</button>
              <button id="{{ session_title }}" class="tiny ui button update" onclick="updateSession(this.id)">Update Session</button>
              <button id="{{ session_title }}" class="tiny ui button" onclick="deleteSession(this.id)">Delete Session</button>

            </div>

          </div>
          

          <!-- <h3>
            {{ session_title }}
            <input type="text" id="session_name_input" name="session_name" value="{{ session_title }}" style="display: none;">
            &nbsp;
            <button class="tiny ui button">Open Session</button>
            <button class="tiny ui button">Update Session</button>
            <button id="{{ session_title }}" class="tiny ui button" onclick="deleteSession(this.id)">Delete Session</button>
          </h3> -->

          {% for window_id in sessions[session_title] %}
        
            <h5>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Window {{ window_id }}
              &nbsp;              
              <!-- <input type="checkbox" id="window_id_{{ window_id }}" name="window_{{ window_id }}" value="{{ window_id }}"> -->
              <i id="session_{{ session_title }}_wid_{{ window_id }}" class="trash alternate outline icon saved_session_icon" onclick="deleteSessionWindow(this.id)" ></i>
            </h5>
            
            
            <ul>
              {% for window_dict in sessions[session_title][window_id] %}
                <li>
                  <a href="{{ window_dict['tab_url'] }}">
                    {{ window_dict['tab_title'] }} 
                  </a>                  
                </li>
              {% endfor %}
            </ul>         

          {% endfor %}

        {% endfor %}


      </div>

    </div>




    <script>

      function refreshSession(){

        var data = { type: "refresh_session" };
        window.postMessage(data, "*");

      }

      function deleteTab(tab_id){

        console.log('tab-delete:', tab_id)
        // TODO: prevent malicious requests here (ie. user sends list of tab-id's to delete upon site-visit)?
        var data = { type: "remove_tab", tabID: tab_id };
        window.postMessage(data, "*");
        // refreshSession();

      }

      function showSessionForm(){
        $('#session_form').show()
        $('.ui .checkbox').css('display', 'inline-block')
        $('#create_session_button').hide()
        // document.getElementById('session_form').

      }


      // Create new session
      $( "#session_form" ).submit(function( event ) {
        event.preventDefault();

        // var window_id_list = []
        var window_dict = {}
        $('input:checkbox:checked').each(function(){
      
          var cb_elem = $($(this)[0])
          if (cb_elem.attr('class') != 'select-all-cb'){
            
            var tab_id = cb_elem.val()
            var window_id = cb_elem.parent().find($('input'))[1].value
            if (window_dict[window_id] === undefined){
              window_dict[window_id] = [tab_id]
            } else {
              var old_li = window_dict[window_id]
              old_li.push(tab_id)
              window_dict[window_id] = old_li
            }
            
          }

          // console.log('val:', this.checked, $(this).val())
          // var window_id = $(this).val()
          // window_id_list.push(window_id)
        })

        var session_name = $('#session_name').val()
        var final_dict = {'session_name': session_name, 'window_dict': window_dict}
        console.log('final-dict:', final_dict)
    
        $.ajax({
          url : "/save-session",
          type: "POST",
          contentType: 'application/json',
          dataType : 'json',
          data : JSON.stringify(final_dict),
          success: function(res){
              if (res['success'] === true){
                window.location = '/'
              } else {
                $('#error_message').show()
              }
          }
        });

      });


      function deleteSession(session_title){
        console.log('ses-title:', session_title)

        let text = "You sure you want to delete session?";
        if (confirm(text) == true) {
          console.log('deleting session')
          window.location.href = 'http://127.0.0.1:5000/delete_session/' + session_title

        } else {
          console.log('cancel')
        }
        
        return false;
      }

      var currentUpdateSesssionTitle;

      function updateSession(session_title){
        currentUpdateSesssionTitle = session_title

        // $('#session_title_header').hide()
        // $('#session_name_input_update').show()
        $('.tiny.ui.button.update').hide()
        $('.ui .checkbox').css('display', 'inline-block')
        $('#submit_session_button').show()
        $('.saved_session_icon').hide()

      }


      function deleteSessionWindow(session_window_id){
        console.log('deleting session:', session_window_id)
        var di = {'wid': session_window_id}

        $.ajax({
          url : "/delete_session_window",
          type: "POST",
          contentType: 'application/json',
          dataType : 'json',
          data : JSON.stringify(di),
          success: function(res){
            window.location = '/'
            // if (res['success'] === true){
            //   window.location = '/'
            // } else {
            //   $('#error_message').show()
            // }
          }
        });

      }


      // Update new session
      $( "#submit_session_button" ).click(function( event ) {
        event.preventDefault();

        // // var session_name = $('#session_name_input_update').children('input')[0].value
        // var window_id_list = []
        // var tab_id_list = []
        // $('input:checkbox:checked').each(function(){
        //   console.log('val:', this.checked, $(this).val(), this.name)
        //   var checkbox_name = this.name
        //   if (checkbox_name.includes('window')){
        //     window_id_list.push($(this).val())
        //   } else {
        //     tab_id_list.push($(this).val())
        //   }
        // })

        // var final_dict = {'session_name': currentUpdateSesssionTitle, 'window_id_list': window_id_list, 'tab_id_list': tab_id_list}
        // console.log('final-dict:', final_dict)


        var window_dict = {}
        $('input:checkbox:checked').each(function(){
      
          var cb_elem = $($(this)[0])
          if (cb_elem.attr('class') != 'select-all-cb'){
            
            var tab_id = cb_elem.val()
            var window_id = cb_elem.parent().find($('input'))[1].value
            if (window_dict[window_id] === undefined){
              window_dict[window_id] = [tab_id]
            } else {
              var old_li = window_dict[window_id]
              old_li.push(tab_id)
              window_dict[window_id] = old_li
            }
            
          }

          // console.log('val:', this.checked, $(this).val())
          // var window_id = $(this).val()
          // window_id_list.push(window_id)
        })

        var final_dict = {'session_name': currentUpdateSesssionTitle, 'window_dict': window_dict}
        console.log('final-dict:', final_dict)

        $.ajax({
          url : "/update_session",
          type: "POST",
          contentType: 'application/json',
          dataType : 'json',
          data : JSON.stringify(final_dict),
          success: function(res){
            window.location = '/'
            // if (res['success'] === true){
            //   window.location = '/'
            // } else {
            //   $('#error_message').show()
            // }
          }
        });


      })


      $('.select-all-cb').click(function(){

        var header_elem = $(this).parent().parent()
        // var header_elem_id = header_elem[0].id
        var mainDiv = header_elem.parent()
        var allElements = mainDiv.children('ul')
        allElements.find('input:checkbox').each(function(index, elem){
          $(elem).trigger('click')
        })

      })
      
      



    </script>


  </body>
  
</html>




<!-- 
  TODO:  
    // test/fix the CRUD for sessions 
    // test/fix the CRUD for tabs
    // **need to write good tests before doing anything else for above**

-->

