<div class="ui secondary menu top-menu">
        
    <div class="item top-menu-logo">
        &#128452; &nbsp;Sessions
    </div >

    <!-- <div class="flex-container"> -->
        
        <a class="active item">
            <i class="thumbtack icon"></i>
            home
        </a>
        <a class="item">
            <i class="newspaper icon"></i>
            about
        </a>
        <a class="item">
            <i class="github icon"></i>
            github
        </a>

    <!-- </div> -->

    <div class="right menu">

        <div class="ui item">
            <button id="create_session_button" class="tiny ui button" style="font-size: 0.85em;"><i class="ui plus icon"></i> Create Session</button>
        </div>
        <a class="ui item">
            logout
        </a>

        <!-- <div class="ui item">
            <div class="ui animated black button" tabindex="0">
                <div class="visible content">Signup or Login</div>
                <div class="hidden content">
                    <i class="hand point right icon"></i>
                </div>
            </div>
        </div> -->

    </div>

</div>