<div class="ui secondary menu top-menu">
        
    <div class="item top-menu-logo">
        Sessions
    </div >

    <!-- <div class="flex-container"> -->
        
        <a class="active item">
            active
        </a>
        <a class="item">
            saved
        </a>
        <a class="item">
            about
        </a>
        <a class="item">
            github
        </a>

    <!-- </div> -->

    <div class="right menu">
        <a class="ui item">
            logout
        </a>
    </div>

</div>