.window-text-menu .item{
    font-size: 15px;
}

.current_windows_parent_div, .saved_sessions_parent_div{
    margin-top: 25px;
}

.primary-card-div{
    display: none;
}

.primary-card-button-div{
    /* margin-bottom: 10px; */
    /* style="font-size: 20px;" */
    float: right;    
}

.window-card{
    width: 100%; 
    /* margin-top: 6.5%; */
}

.window_left_arrow, .window_right_arrow, .session_left_arrow, .session_right_arrow:hover{
    cursor: pointer;
    /* color: lightblue; */
}

.window-header, .session-header{
    margin: 0rem !important;
    font-size: 18.5px !important;
}

.window-header-date, .session-header-date{
    color: gray;
    /* padding-top: 5px; */
    font-size: 13.5px;
}

