.window-text-menu .item{
    font-size: 15.5px;
}


.current_windows_parent_div{
    /* margin-top: 25px; */
}

.primary-card-div{
    display: none;
}

.primary-card-button-div{
    /* margin-bottom: 10px; */
    /* style="font-size: 20px;" */
    float: right;    
}

.window-card{
    width: 100%; 
    /* margin-top: 6.5%; */
}
