.top-menu{
    padding-left: 60px;
    padding-right: 70px;
    padding-top: 20px;
}

.top-menu-logo{
    /* font-family: "Raleway", sans-serif;
    font-optical-sizing: auto; */
    /* font-weight: 600; */
    /* font-style: normal; */
 
    font-size: 26.5px !important;
    padding-top: 15px !important;
}

.top-menu .item{
    font-size: 15.5px;
    /* padding-top: 10px; */
}

.ui.menu .active.item{
    font-weight: bold;
    /* text-decoration: underline; */
    background: none !important;
}
